body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

* {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=1659), auto !important;
}

#page2 {

    position: absolute;
    z-index: -1000;
    width: 1519px;
    height: 804px;
}

img {
    height: 100px;
    width: 150px;

}

.select {
    font-size: 200%;
    color: yellow;
    margin-left: 599px;
}

#logo {
    font-size: 300%;
    z-index: 1;
    position: absolute;
    text-align: center;
    color: yellow;
    margin: 45px 0 0 1232px;
}

.character {
    display: inline-block;
    /* background-color: white; */
    margin-left: 168px;
}

.character-image {
    padding-right: 16px;
    padding-left: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: -18px;
}

.character-health {
    text-align: center;
    color: yellow;
    font-size: x-large;
    font-family: fantasy;
}

.enemy {
    margin-right: -152px;
}


#selected-god {
    width: 190px;
    height: 160px;
    margin-left: 473px;
}

#fightbtn {

    margin: 9px -16px 0 655px;
}

#Enemy {
    width: 190px;
    height: 160px;
}

#Enemy-health {
    text-align: center;
}

.bsound {

    display: none;
}

@media screen and (max-width: 1440px) {


    #page1 {

        width: 100%;
        height: 821px;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

@media screen and (max-width: 768px) {

    #page1 {

        width: 100%;
        height: 233px;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

@media screen and (max-width: 640px) {

    #page1 {

        width: 100%;
        height: 233px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    body {

        background-color: blanchedalmond;

    }
}